
@media (min-width: 991px){
	.navbar-toggle.nav-close-menu{
		display:block;
		float:left;
	}

	.wrapper .sidebar .sidebar-wrapper.sidebar-wide{
		left:0px;
	}

	.main-panel.sidebar-wide{
		width:100%;
	}
}

@media (max-width: 991px){
	.navbar-toggle.nav-close-menu{
		float:right;
	}
}

.navbar-toggle.nav-close-menu:hover,
.navbar-toggle.nav-close-menu:focus{
		background-color:transparent;
	}

.wrapper .sidebar .sidebar-wrapper{
	-webkit-transition: left 0.5s;
  	-moz-transition: left 0.5s;
  	-o-transition: left 0.5s;
	transition: left 0.5s;
}

.main-panel{
	-webkit-transition: width 0.5s;
  	-moz-transition: width 0.5s;
  	-o-transition: width 0.5s;
	transition: width 0.5s;
}
