                    <div class="col-md-12">
                      <form id="deleteForm"class="form" method="POST" data-action="/user-delete">
                        <div class="card">
                            <div class="card-content">
                                <div class="header">
                                    <h4 class="title">User List</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-striped user-list"
                                    data-toggle="table"
                                    data-search="true"
                                    data-show-refresh="true"
                                    data-show-columns="true"
                                    data-sort-name="userID"
                                    data-unique-id="userID"
                                    data-sort-order="asc"
                                    data-show-export="true"
                                    data-pagination="true"
                                    data-url="/user-list"
                                    data-search="true"
                                    data-toolbar="#toolbar"
                                    data-toolbar-align='right'
                                    >
                                        <thead>
                                            <th data-field="userID"
                                                data-sortable="true">
                                                User ID
                                            </th>
                                            <th data-field="first_name"
                                                data-sortable="true">
                                                First Name
                                            </th>
                                            <th data-field="last_name"
                                                data-sortable="true">
                                                Last Name
                                            </th>
                                            <th data-field="actions"
                                                class="td-actions text-right"
                                                data-formatter="operateFormatter">
                                                Actions
                                            </th>
                                        </thead>
                                    </table>

                                </div>
                        </div>
                    </div>

                      <input type="hidden" name="userID"/>
                    </form>
                    </div>

                    <div id="toolbar" class="btn-group">
                        <a href="javascript:void(0)" title="Add" class="btn btn-default" data-url="/user-detail/add/0" data-target="#main-content">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <script>
                        opt = {icons: {
                                        refresh: 'fa fa-refresh',
                                        toggle: 'fa fa-th-list',
                                        columns: 'fa fa-columns',
                                        detailOpen: 'fa fa-plus-circle',
                                        detailClose: 'ti-close'
                                    },
                                searchAlign: 'left',

                                formatShowingRows: function(pageFrom, pageTo, totalRows){
                                    //do nothing here, we don't want to show the text "showing x of y from..."
                                },
                                formatRecordsPerPage: function(pageNumber){
                                    return pageNumber + " rows visible";
                                },
                            };


                        $('.user-list').bootstrapTable(opt).
                        on('all.bs.table', function (e, data) {
                            $('.user-list').initGoTo();
                        });


                        $(window).resize(function () {
                            $('.user-list').bootstrapTable('resetView');
                        });

                        function operateFormatter(value, row, index) {
                            //console.log(row.userID);
                            return [
                                '<div class="table-icons">',
                                    '<a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)" data-url="/user-detail/view/'+row.userID+'" data-target="#main-content" >',
                                        '<i class="ti-image"></i>',
                                    '</a>',
                                    '<a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)" data-url="/user-detail/edit/'+row.userID+'" data-target="#main-content">',
                                        '<i class="ti-pencil-alt"></i>',
                                    '</a>',
                                    '<a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)" onclick="deleteConfirmation(\''+row.userID+'\')">',
                                        '<i class="ti-close"></i>',
                                    '</a>',
                                '</div>',
                            ].join('');
                        }

                        function deleteConfirmation(id){
                          swal({
                                  title: "Are you sure?",
                                  text: "Once deleted, you will not be able to recover this record!",
                                  icon: "warning",
                                  buttons: true,
                                })
                                .then(deleted => {
                                  if (deleted) {
                                    deleteUser(id);
                                    console.log(id+" deleted");
                                  } else {
                                    console.log("canceled");
                                  }
                                });
                        }

                        function deleteUser(id){
                          var userID = $('input[name="userID"]');
                          userID.val(id);
                          $("#deleteForm").submit();
                        }

                        function deleteNotification(data){
                          var obj = data;
                          if(obj.error){
                            toastr.error(obj.error,"Error");
                          }else{
                            toastr.success('Delete Completed.','Done!');
                            $('.user-list').bootstrapTable('refresh');
                          }
                        }

                        $(function(){
                          $('#toolbar').initGoTo();
                          $('.form').initPost(deleteNotification);

                          $('#nav-title').text("Users");
                        });
                    </script>
